<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--配置Servlet-->
    <servlet>
        <servlet-name>Demo01</servlet-name>
        <servlet-class>com.wenapp.servlet.ServletDome01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo01</servlet-name>
        <url-pattern>/Demo01</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Demo02</servlet-name>
        <servlet-class>com.wenapp.servlet.ServletDome02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo02</servlet-name>
        <url-pattern>/Demo02</url-pattern>
    </servlet-mapping>
</web-app>